		<!-- Footer -->
		<footer id="footer">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="footer-intro">
								<a href="home-3.html" class="logo-footer">
									<img src="../../assets/img/logo-3.png" alt="Logo">
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore </p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="footer-top">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
										<div class="block menu">
											<h2 class="block-title">Information</h2>

											<div class="block-content">
												<ul>
													<li><a href="#">Specials</a></li>
													<li><a href="#">New products</a></li>
													<li><a href="#">Best sellers</a></li>
													<li><a href="#">Terms and conditions</a></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
										<div class="block menu">
											<h2 class="block-title">About Us</h2>

											<div class="block-content">
												<ul>
													<li><a href="#">Who are we ?</a></li>
													<li><a href="#">Delivery and return</a></li>
													<li><a href="#">Size guide</a></li>
													<li><a href="#">Legal Mentions</a></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
										<div class="block menu">
											<h2 class="block-title">Your account</h2>

											<div class="block-content">
												<ul>
													<li><a href="#">My merchandise returns</a></li>
													<li><a href="#">My credit slips</a></li>
													<li><a href="#">My addresses</a></li>
													<li><a href="#">My personal info</a></li>
												</ul>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
										<div class="block menu">
											<h2 class="block-title">Customer Service</h2>

											<div class="block-content">
												<ul>
													<li><a href="#">Store Locator</a></li>
													<li><a href="#">Returns Policy</a></li>
													<li><a href="#">Order Tracking</a></li>
													<li><a href="#">Give Back Box</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="footer-bottom">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-left">
										<div class="block newsletter">
											<h2 class="block-title">Newsletter</h2>

											<div class="block-content">
												<p class="description">Sign up for newsletter to receive special offers
													and exclusive news about FreshMart products</p>
												<form action="#" method="post">
													<input type="text" placeholder="Enter Your Email">
													<button type="submit" class="btn btn-primary">Subscribe</button>
												</form>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-right">
										<div class="block text">
											<h2 class="block-title">Contact Us</h2>

											<div class="block-content">
												<div class="contact">
													<div class="item d-flex">
														<div>
															<i class="zmdi zmdi-home"></i>
														</div>
														<div>
															<span>123 Suspendis matti, VST District, NY Accums, North
																American</span>
														</div>
													</div>
													<div class="item d-flex">
														<div>
															<i class="zmdi zmdi-phone-in-talk"></i>
														</div>
														<div>
															<span>0123-456-78910<br>0987-654-32100</span>
														</div>
													</div>
													<div class="item d-flex">
														<div>
															<i class="zmdi zmdi-email"></i>
														</div>
														<div>
															<span><a
																	href="mailto:support@domain.com">support@domain.com</a><br><a
																	href="mailto:contact@domain.com">contact@domain.com</a></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="footer-copyright">
								<div class="row">
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
										<div class="copyright"><a target="_blank"
												href="https://www.templateshub.net">Templates Hub</a></div>
									</div>
								</div>

								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 align-right">
									<div class="payment">
										<img src="../../assets/img/payment.png" alt="Payment">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</footer>