	<body class="home home-1">
		<div id="all">
			<!-- Header -->
			<header id="header">
				<!-- Topbar -->
				<div class="topbar">
					<!-- Close Topbar -->
					<div class="close-topbar">
						<i class="zmdi zmdi-close"></i>
					</div>
					
					<!-- Topbar Content -->
					<div class="container topbar-content">
						<div class="row">
							<!-- Topbar Left -->
							<div class="col-md-7 col-sm-7 col-xs-12">
								<div class="topbar-left d-flex">
									<div class="email">
										<i class="fa fa-envelope" aria-hidden="true"></i>Email: tivatheme@gmail.com
									</div>
									<div class="skype">
										<i class="fa fa-skype" aria-hidden="true"></i>Skype: tivatheme
									</div>
								</div>
							</div>
							
							<!-- Topbar Right -->
							<div class="col-md-5 col-sm-5 col-xs-12">
								<div class="topbar-right d-flex justify-content-end">
									<!-- My Account -->
									<div class="dropdown account">
										<div class="dropdown-toggle" data-toggle="dropdown">
											My Account
										</div>
										<div class="dropdown-menu">									
											<div class="item">
												<a href="#" title="Log in to your customer account"><i class="fa fa-cog"></i>My Account</a>
											</div>
											<div class="item">
												<a href="user-login.html" title="Log in to your customer account"><i class="fa fa-sign-in"></i>Login</a>
											</div>
											<div class="item">
												<a href="user-register.html" title="Register Account"><i class="fa fa-user"></i>Register</a>
											</div>
											<div class="item">
												<a href="#" title="My Wishlists"><i class="fa fa-heart"></i>My Wishlists</a>
											</div>
										</div>
									</div>
									
									<!-- Language -->
									<div class="dropdown language">
										<div class="dropdown-toggle" data-toggle="dropdown">
											<img src="../../assets/img/language-en.jpg" alt="Language English">
										</div>
										<div class="dropdown-menu">
											<div class="item">
												<a href="#" title="Language English"><img src="../../assets/img/language-en.jpg" alt="Language English"> English</a>
											</div>
											<div class="item">
												<a href="#" title="Language French"><img src="../../assets/img/language-fr.jpg" alt="Language French"> French</a>
											</div>
										</div>
									</div>
									
									<!-- Currency -->
									<div class="dropdown currency">
										<div class="dropdown-toggle" data-toggle="dropdown">
											USD
										</div>
										<div class="dropdown-menu">
											<div class="item">
												<a href="#" title="USD">USD</a>
											</div>
											<div class="item">
												<a href="#" title="EUR">EUR</a>
											</div>
											<div class="item">
												<a href="#" title="GBP">GBP</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Open Topbar -->
					<div class="container active">
						<div id="toggle-topbar"><i class="zmdi zmdi-plus"></i></div>
					</div>
				</div>
				
				<!-- Header Top -->
				<div class="header-top">
					<div class="container">
						<div class="row">
							<!-- Search -->
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="form-search">
									<form action="#" method="get">
										<input type="text" class="form-input" placeholder="Search">
										<button type="submit" class="fa fa-search"></button>
									</form>
								</div>
							</div>
							
							<!-- Logo -->
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="logo">
									<a href="index.html">
										<img class="img-responsive" src="../../assets/img/logo.png" alt="Logo">
									</a>
								</div>
								
								<span id="toggle-mobile-menu"><i class="zmdi zmdi-menu"></i></span>
							</div>
							
							<!-- Cart -->
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="block-cart dropdown">
									<div class="cart-title">
										<i class="fa fa-shopping-basket"></i>
										<span class="cart-count">2</span>
									</div>
									
									<div class="dropdown-content">
										<div class="cart-content">
											<table>
												<tbody>
													<tr>
														<td class="product-image">
															<a href="product-detail-left-sidebar.html">
																<img src="../../assets/img/product/7.jpg" alt="Product">
															</a>
														</td>
														<td>
															<div class="product-name">
																<a href="product-detail-left-sidebar.html">Organic Strawberry Fruits</a>
															</div>
															<div>	
																2 x <span class="product-price">$28.98</span>
															</div>
														</td>
														<td class="action">
															<a class="remove" href="#">
																<i class="fa fa-trash-o" aria-hidden="true"></i>
															</a>
														</td>
													</tr>
													
													<tr>
														<td class="product-image">
															<a href="product-detail-left-sidebar.html">
																<img src="../../assets/img/product/6.jpg" alt="Product">
															</a>
														</td>
														<td>
															<div class="product-name">
																<a href="product-detail-left-sidebar.html">Organic Strawberry</a>
															</div>
															<div>	
																1 x <span class="product-price">$35.00</span>
															</div>
														</td>
														<td class="action">
															<a class="remove" href="#">
																<i class="fa fa-trash-o" aria-hidden="true"></i>
															</a>
														</td>
													</tr>
													
													<tr class="total">
														<td>Total:</td>
														<td colspan="2">$92.96</td>
													</tr>
													
													<tr>
														<td colspan="3">
															<div class="cart-button">
																<a class="btn btn-primary" href="product-cart.html" title="View Cart">View Cart</a>
																<a class="btn btn-primary" href="product-checkout.html" title="Checkout">Checkout</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>	
							</div>	
						</div>
					</div>
				</div>
				
				<!-- Main Menu -->
				<div id="main-menu">
					<ul class="menu">
						<li class="dropdown">
							<a href="index.html" title="Homepage">Home</a>
						</li>
						
						<li class="dropdown">
							<a href="product-grid-left-sidebar.html" title="Product">Product</a>
							<div class="dropdown-menu">
								<ul>
									<li class="has-image">
										<img src="../../assets/img/product/product-category-1.png" alt="Product Category Image">
										<a href="product-grid-left-sidebar.html" title="Vegetables">Vegetables</a>
									</li>
									<li class="has-image">
										<img src="../../assets/img/product/product-category-2.png" alt="Product Category Image">
										<a href="product-grid-left-sidebar.html" title="Fruits">Fruits</a>
									</li>
									<li class="has-image">
										<img src="../../assets/img/product/product-category-3.png" alt="Product Category Image">
										<a href="product-grid-left-sidebar.html" title="Bread">Bread</a>
									</li>
									<li class="has-image">
										<img src="../../assets/img/product/product-category-4.png" alt="Product Category Image">
										<a href="product-grid-left-sidebar.html" title="Juices">Juices</a>
									</li>
									<li class="has-image">
										<img src="../../assets/img/product/product-category-5.png" alt="Product Category Image">
										<a href="product-grid-left-sidebar.html" title="Tea and coffee">Tea and coffee</a>
									</li>
								</ul>
							</div>
						</li>
						
						
						
						<li class="dropdown">
							<a href="blog.html">Blog</a>
						</li>
						
						<li>
							<a href="about-us.html">About Us</a>
						</li>
						
						<li>
							<a href="page-contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</header>
			
			
			<!-- Main Content -->
			<div id="content" class="site-content">
				<!-- Breadcrumb -->
				<div id="breadcrumb">
					<div class="container">
						<h2 class="title">Our Blog</h2>
						
						<ul class="breadcrumb">
							<li><a href="#" title="Home">Home</a></li>
							<li><span>Our Blog</span></li>
						</ul>
					</div>
				</div>
			
			
				<div class="container">
					<div class="row">
						<!-- Sidebar -->
						<div id="left-column" class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<!-- Block - Product Categories -->
							<div class="block product-categories">
								<h3 class="block-title">Categories</h3>
								
								<div class="block-content">
									<div class="item">
										<span class="arrow collapsed" data-toggle="collapse" data-target="#vegetables" aria-expanded="false" role="button">
											<i class="zmdi zmdi-minus"></i>
											<i class="zmdi zmdi-plus"></i>
										</span>
										
										<a class="category-title" href="product-grid-left-sidebar.html">Vegetables</a>
										<div class="sub-category collapse" id="vegetables" aria-expanded="true" role="main">
											<div class="item">
												<a href="product-grid-left-sidebar.html">Tomato</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Broccoli</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Cabbage</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Cucumber</a>
											</div>
										</div>
									</div>
									
									<div class="item">
										<span class="arrow collapsed" data-toggle="collapse" data-target="#fruits" aria-expanded="false" role="button">
											<i class="zmdi zmdi-minus"></i>
											<i class="zmdi zmdi-plus"></i>
										</span>
										
										<a class="category-title" href="product-grid-left-sidebar.html">Fruits</a>
										<div class="sub-category collapse" id="fruits" aria-expanded="true" role="main">
											<div class="item">
												<a href="product-grid-left-sidebar.html">Orange</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Apple</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Banana</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Strawberry</a>
											</div>
										</div>
									</div>
									
									<div class="item">
										<span class="arrow collapsed" data-toggle="collapse" data-target="#juices" aria-expanded="false" role="button">
											<i class="zmdi zmdi-minus"></i>
											<i class="zmdi zmdi-plus"></i>
										</span>
										
										<a class="category-title" href="product-grid-left-sidebar.html">Juices</a>
										<div class="sub-category collapse" id="juices" aria-expanded="true" role="main">
											<div class="item">
												<a href="product-grid-left-sidebar.html">Orange Juices</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Tomato Juices</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Apple Juices</a>
											</div>
											<div class="item">
												<a href="product-grid-left-sidebar.html">Peaches Juices</a>
											</div>
										</div>
									</div>
									
									<div class="item">
										<a class="category-title" href="product-grid-left-sidebar.html">Tea and Coffee</a>
									</div>
									
									<div class="item">
										<a class="category-title" href="product-grid-left-sidebar.html">Jam</a>
									</div>
									
									<div class="item">
										<a class="category-title" href="product-grid-left-sidebar.html">SeaFood</a>
									</div>
									
									<div class="item">
										<a class="category-title" href="product-grid-left-sidebar.html">Fresh Meats</a>
									</div>
								</div>
							</div>
							
							
							<!-- Block - Recent Posts -->
							<div class="block posts recent-posts">
								<h3 class="block-title">Recent Posts</h3>
							
								<div class="block-content">
									<div class="post-item">         
										<a class="post-title" href="blog-detail.html">5 Best Fruits To Make You Fresh And Healthy</a>
										<div class="post-info">
											<span class="comment item"><i class="zmdi zmdi-comments"></i>2 Comments</span>
											<span class="date item"><i class="zmdi zmdi-calendar-note"></i>14 Mar, 2018</span>
										</div>
										<div class="post-description">Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor, nisi elit consequat ipsum... </div>
										<div class="post-readmore"><a href="blog-detail.html">Read more</a></div>
									</div>
									
									<div class="post-item">         
										<a class="post-title" href="blog-detail.html">5 Best Fruits To Make You Fresh And Healthy</a>
										<div class="post-info">
											<span class="comment item"><i class="zmdi zmdi-comments"></i>2 Comments</span>
											<span class="date item"><i class="zmdi zmdi-calendar-note"></i>14 Mar, 2018</span>
										</div>
										<div class="post-description">Proin gravida nibh vel velit auctor aliquet. Aenean lorem quis bibendum auctor, nisi elit consequat ipsum... </div>
										<div class="post-readmore"><a href="blog-detail.html">Read more</a></div>
									</div>
								</div>
							</div>
							
							<!-- Block - Blog Tags -->
							<div class="block tags blog-tags">
								<h3 class="block-title">Blog Tags</h3>
							
								<div class="block-content">
									<ul>
										<li><a href="#" title="Hot Trend">Hot Trend</a></li>
										<li><a href="#" title="Jewelry">Jewelry</a></li>
										<li><a href="#" title="Man">Man</a></li>
										<li><a href="#" title="Party">Party</a></li>
										<li><a href="#" title="SamSung">SamSung</a></li>
										<li><a href="#" title="Shirt Dresses">Shirt Dresses</a></li>
										<li><a href="#" title="Shoes">Shoes</a></li>
										<li><a href="#" title="Summer">Summer</a></li>
										<li><a href="#" title="Sweaters">Sweaters</a></li>
										<li><a href="#" title="Winter">Winter</a></li>
										<li><a href="#" title="Woman">Woman</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Block - Banner -->
							<div class="block banner">
								<div class="block-content">
									<div class="effect">
										<img class="img-responsive" src="../../assets/img/blog-banner.jpg" alt="Banner">
									</div>
								</div>
							</div>
						</div>
						
						<!-- Page Content -->
						<div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<div class="blog-list">
								<div class="posts-list">
									<div class="post-item">
										<div class="post-image">
											<a href="blog-detail.html">
												<img class="img-responsive" src="../../assets/img/blog/blog-1.jpg" alt="Blog Image">
											</a>
										</div>
										<a class="post-title" href="blog-detail.html">5 Best Fruits To Make You Fresh And Healthy</a>
										<div class="post-info">
											<span class="comment item"><i class="zmdi zmdi-comments"></i>2 Comments</span>
											<span class="date item"><i class="zmdi zmdi-calendar-note"></i>14 Mar, 2018</span>
										</div>
										<div class="post-description">
											Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagit tis sem nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet mauris. Proin gravida nibh vel velit...
											<span class="post-readmore"><a href="blog-detail.html">view more</a></span>
										</div>
									</div>
									
									<div class="post-item">
										<div class="post-image">
											<a href="blog-detail.html">
												<img class="img-responsive" src="../../assets/img/blog/blog-2.jpg" alt="Blog Image">
											</a>
										</div>
										<a class="post-title" href="blog-detail.html">5 Best Fruits To Make You Fresh And Healthy</a>
										<div class="post-info">
											<span class="comment item"><i class="zmdi zmdi-comments"></i>2 Comments</span>
											<span class="date item"><i class="zmdi zmdi-calendar-note"></i>14 Mar, 2018</span>
										</div>
										<div class="post-description">
											Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagit tis sem nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet mauris. Proin gravida nibh vel velit...
											<span class="post-readmore"><a href="blog-detail.html">view more</a></span>
										</div>
									</div>
									
									<div class="post-item">
										<div class="post-image">
											<a href="blog-detail.html">
												<img class="img-responsive" src="../../assets/img/blog/blog-3.jpg" alt="Blog Image">
											</a>
										</div>
										<a class="post-title" href="blog-detail.html">5 Best Fruits To Make You Fresh And Healthy</a>
										<div class="post-info">
											<span class="comment item"><i class="zmdi zmdi-comments"></i>2 Comments</span>
											<span class="date item"><i class="zmdi zmdi-calendar-note"></i>14 Mar, 2018</span>
										</div>
										<div class="post-description">
											Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagit tis sem nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet mauris. Proin gravida nibh vel velit...
											<span class="post-readmore"><a href="blog-detail.html">view more</a></span>
										</div>
									</div>
								</div>
								
								<!-- Pagination Bar -->
								<div class="pagination-bar">
									<div class="pagination">
										<ul class="page-list">
											<li><a href="#" class="prev">Previous</a></li>
											<li><a href="#" class="current">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#" class="next">Next</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
          <app-footer></app-footer>